



.navbar{
    
    position: fixed !important;
    top: 0;
    width: 100%;
    background-image: linear-gradient(to left top, blue, red);
;
    z-index: 1000;
    /* Add any other CSS styling you want for your navigation bar */
  

}
#nav{
color: white;
}

.header
{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 10%;
background: url(./logo/img.png);
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}


.navbar a{
    display: inline-block;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;

}

body{
    background-image: url('./images/vintage-old-newspaper-background.jpg');

    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
}

    main {

    display: flex;
    padding: 20px;
}

.main-content {
    flex: 2; /* Main content area takes up 2/3 of the available space */
    background-color: #f0f0f0;
    padding: 20px;
}
.latest{
    margin-top: 50px;
    font-style: initial;
    /* color: #ccc; */

}

.topic{
    font-style: italic;
    color: darkviolet;
}

.para{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-indent: 30px;
    justify-content: center;
    color: darkred;

}


.sidebar {
    flex: 1; /* Aside section takes up 1/3 of the available space */
    background-color: #ccc;
    padding: 20px;
}

.img{
    width: 100px;
    height: 100px;
}


.copyright {
    text-align: center;
    padding: 10px;
}


footer {
    background: radial-gradient(circle,red,blue);
     text-align: center;
     padding: 1%;
   }